/* @import "bulma/bulma.css";
@import "bulma/sass/grid/columns"; */

#friendContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 675px;
    margin: 0 20px;
  }

  #articleContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 675px;
  }

  .articleCard {
    border: 5px solid black;
    width: auto;
    height: 110px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(200, 240, 213);
  }

  .eventCard {
    border: 5px solid black;
    width: auto;
    height: 130px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(181, 196, 184);
  }

  .taskCard {
    border: 5px solid black;
    width: auto;
    height: 110px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(102, 241, 102)
  }

  .friendCard {
    border: 5px solid black;
    width: auto;;
    height: 60px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(158, 247, 195);
  }

  .checkBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 130px;
    vertical-align: middle;
  }

  #eventContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 675px;
    margin-left: 20px;
  }

  #taskContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 675px;
    margin: 0 20px;
  }

