#friendContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 455px;
    margin: 0 20px;
  }

  #articleContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 455px;
  }

  #eventContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 455px;
    margin-left: 20px;
  }

  #taskContainer {
    border: 1px solid black;
    border-radius: 20px;
    height: 455px;
    margin: 0 20px;
  }
